<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application" singleton="true" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="App" />
    <module name="ai_a_main" />
    <option name="PROGRAM_PARAMETERS" value="server app_config.yml" />
    <option name="WORKING_DIRECTORY" value="file://$PROJECT_DIR$" />
    <method />
  </configuration>
</component>